#padding{ /* margem interna */
    border: 1px solid red;
    padding: 20px;
    background: gainsboro;
}

#border{ /* borda externa */
    border: 1px solid red;
    background: gainsboro;
}

#margin{ /* margem entre os elementos */
    border: 1px solid red;
    margin: 10px;
    background: gainsboro;
}

#flut1{
    background: gainsboro;
    border: 1px solid red;
    width: 100px;
    height: 100px;
}
#flut2{
    background: gainsboro;
    border: 1px solid red;
    width: 150px;
    height: 150px;
}
#flut3{
    background: gainsboro;
    border: 1px solid red;
    width: 200px;
    height: 200px;
}

/* elementos flutuantes na pratica*/
#principal{
    width: 920px;
    border: 1px solid red;
}

.noticia{
    background: gainsboro;
    padding: 5px;
    width: 280px;
    margin: 8px;
    float: left;
}

.clear{
    clear: both;
}

.imagem-galeria{
    background: white;
    width: 265px;
    padding: 5px;
    float: left;
    margin: 15px;
}

/* blocos*/
.borda{
    border: 1px solid red;
}

/* Posicionamento estático e relativo */
.posicionamento{
    background: #007fc7;
    width: 920px;
    padding: 5px;
}

.container{
    background: gainsboro;
    width: 800px;
    padding: 10px;
    margin: 10px auto;
    position: relative;
}

.h1PosicionamentoStaticRelative{

}

.pPosicionamentoStaticRelative{
    width: 300px;
    border: 1px solid red;
    position: relative; 
    /* abre a possibilidade de mover o objeto a partir de sua posição inicial dentro do "CONTAINER/DIV" */
    /* os atributos são top, right, bottom, left logo abaixo do position: relative */
    top: 40px;
}

/* Posicionamento absoluto e fixo */
.pPosicionamentoAbsoluto{
    width: 300px;
    border: 1px solid red;
    background: gold;
    position: absolute; 
    /* abre a possibilidade de mover o objeto a partir da posição inicial da página, no caso do body*/
    /* os atributos são top, right, bottom, left logo abaixo do position: relative */
    top: 40px;
}

.pPosicionamentoFixo{
    width: 300px;
    border: 1px solid red;
    background: gold;
    position: fixed; 
    /* abre a possibilidade de mover o objeto a partir da posição inicial da página, no caso do body*/
    /* os atributos são top, right, bottom, left logo abaixo do position: relative */
    bottom: 0px;
    right: 0px;
    margin: 0px;
}

/* Sobrepondo elementos */
.sobreConteudo1{
    border: 1px solid red;
    background: blue;
    width: 200px;
    height: 200px;
    /*position: absolute;*/
    z-index: 0; /* "contexto de empilhamento" essa config é responsável por ordenar qual elemento será exibido primeiro */
}

.sobreConteudo2{
    border: 1px solid red;
    background: orange;
    width: 150px;
    height: 150px;
    /*position: absolute;*/
    z-index: 1; /* "contexto de empilhamento" essa config é responsável por ordenar qual elemento será exibido primeiro */
}

/* Formatando Links */
/*    a{
        padding: 5px 10px;
        text-decoration: none;
    }

    a:link{ /* links não visitados, esse é o status padrão do link */
/*        color: red;
    }

    a:visited{ /* links visitados */
/*        color: #c0c0c0;
    }

    a:hover{ /* links Hover, passar o cursor sobre o link */
/*        color: #6d790f;
    }

    a:active{ /* links Ativos, quando clicado */
/*        color: #e4f371;
    }
*/